ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

li {
  /* display: block; */
  padding: 0 15px;
}


a {
  text-decoration: none;
}


.main-container {}

.main-area {
  width: 100%;
  height: calc(100vh * 0.75);
  padding: 120px 6vw 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.grid-item--left {
  justify-self: left;
}

.bands-container {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
  height: calc(100vh * 0.25);
  padding: 0 6vw;
}